{% extends "layout.html.twig" %}

{% block page_title %}
    Modifier mon profil organisateur
{% endblock %}

{% block content %}
    <div class="container" style="padding-top:50px;">
        <div id="editor" class="row">
            <div class="col-xs-8 col-xs-push-2">

        {% include 'Components/_modalProfil.html.twig' %}

        {% for message in app.flashes('notice') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
        {% endfor %}

        {{ form(formOrga, {attr:{novalidate: 'novalidate' }}) }}
            </div>
        </div>
    </div> {# fin div.container #}


{% endblock %}