/*==========HEADER=========*/
header {
    margin-top:80px;
    height:100%;
    background-color: white;
}

.custom-navbar{z-index:10;background-color: #665FB3;}
.nav-link{color:#fcf9ff !important; border: 2px solid white; margin: 10px; border-radius: 6px;}
.custom-toggler.navbar-toggler {border-color: #fcf9ff;}
.custom-toggler .navbar-toggler-icon {background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(247,32,78, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");}
.custom-toggler .navbar-toggler-icon{width: 18px!important;}
.custom-toggler:hover{border-color: #fcf9ff; background-color: #313280;}
.navbar-toggler-icon:hover{background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");}#logo_custom{margin-top: -6px; height: 8%; width: 8%;} #typo_custom{height: 50px; width: 50px;}

@media only screen and (max-width: 768px) {
    #logo_custom {
        width: 40%;
    }

    header {
        margin-bottom: 25%;
    }
}

.logo {
    width: 27%;
    margin: 0;
}

#logo-img {
    width: 39%;
    margin: 0;
    margin-bottom: -6%;
    margin-top: -6%;
}

.btn {
    font-size: 0.75rem;
}

.modal-button {
    background-color: #665FB3 !important;
}

#profil_button {
    font-size: 0.75rem !important;
}

#favori_button {
    padding-right: 50px;
}

#favori_color {
    background-color: white;
    color: #665FB3 !important;
    font-size: 12px;
}

#profil_button:hover{
    color: #665FB3 !important;
    background-color: white;
}

#favori_color:hover {
    color: white !important;
    border: 2px solid white;
    margin: 10px;
    border-radius: 6px;
    background-color: transparent;
}